<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!--此密钥适用于资源组“Default-ApplicationInsights-CentralUS”中的 Application Insights 资源“TsinghuaNet”-->
  <InstrumentationKey>510eed74-70ac-4368-8fa9-aee9db52e857</InstrumentationKey>
</ApplicationInsights>